//
   Created by wermington on 7/8/16.


extends ../layout

block content
    dir.componentContainer

    case form_page
        when "style"
            include ../forms/style
            script(src='/js/lib/edit/style.js', type='text/javascript')
        when "button"
            include ../forms/button
            script(src='/js/lib/edit/button.js', type='text/javascript')

        when "action"
            include ../forms/action
            script(src='/js/lib/edit/action.js', type='text/javascript')
        when "layout"
            include ../forms/layout
            script(src='/js/lib/edit/layout.js', type='text/javascript')

        when "index"
            include ../forms/index_edit
        default
            include ../forms/index_edit

block scripts
    script(src='/js/lib/select.js', type='text/javascript')



