extends ../layout

block content

    #buttonPreview
        button#styledButton Test Button
        style#previewStyle

    #main_cont


        table
            tr
                td
                    label Style name:
                td
                    input#textStyleName(type="text", name="textStyleName")
            tr
                td
                    label Style class:
                td
                    input#textStyleClass(type="text", name="textStyleClass")
            tr
                td
                    label Button style:
                td
                    pre#textCssStyle.text_big


            tr
                td
                    button#saveClickButton Save !
                td
                    button#prevClickButton Preview!



    script(src="/js/lib/style.js", type="text/javascript")





