//
   Created by wermington on 7/6/16.

extends ../layout

block content

    ul
        li
            a(href="/tests/styles") Styles
        li
            a(href="/tests/actions") Actions
        li
            a(href="/tests/buttons") Buttons
        li
            a(href="/tests/layouts") Layouts
        li
            a(href="/tests/exec") Exec



