//
   Created by wermington on 7/4/16.

extends  ../layout.jade

block head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")

block styles
    link(rel="stylesheet", href='https://code.jquery.com/qunit/qunit-2.0.0.css')

block content
    div#qunit
    div#qunit-fixture


    script(src="https://code.jquery.com/qunit/qunit-2.0.0.js")

    block scriptExtend


