//
   Created by wermington on 7/4/16.

extends  ../layout

block head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")

block styles
    link(rel="stylesheet", href='/bower_components/qunit/qunit/qunit.css')

block content
    div#qunit
    div#qunit-fixture


    script(src="/bower_components/qunit/qunit/qunit.js", type="text/javascript")

    block scriptExtend


