//
   Created by wermington on 7/6/16.

doctype html

html
    head
        title Simple demo layout for SITOLA Ultragrid
        block head

        block styles
        link(rel='stylesheet', href='/ultragrid/style.css')

        block scripts

        script(src='/bower_components/jquery/dist/jquery.min.js', type='text/javascript')
        script(src='/js/lib/ws/ws.js')
        script(src='/js/lib/main.js', type='text/javascript')
        script(src='/js/lib/show.js', type='text/javascript')
        script(src='/js/lib/generate.js', type='text/javascript')
        script(src='/js/lib/terminal.js', type='text/javascript')
        script(src='/ultragrid/Timer.js', type='text/javascript')


    body
        block content

        h1 Simple layout for Ultragrid control

        table
            tr
                td
                    button#ug_Play Play
                td
                    button#ug_Stop Stop
                td
                    p Nothing
            tr
                td
                    button#ug_Record Start Record
                td
                    button#ug_StopRecord Stop record

                td
                    span.timer


        div#terminal

    script(src='/ultragrid/main.js', type='text/javascript')

    script.















