//
   Created by wermington on 7/6/16.

doctype html

html
    head
        title Simple demo layout for SITOLA Ultragrid
        block head

        block styles
        link(rel='stylesheet', href='/stylesheets/style.css')

        block scripts

        script(src='/bower_components/jquery/dist/jquery.min.js', type='text/javascript')
        script(src='/js/lib/ws/ws.js')
        script(src='/js/lib/main.js', type='text/javascript')
        script(src='/js/lib/show.js', type='text/javascript')
        script(src='/js/lib/generate.js', type='text/javascript')
        script(src='/js/lib/terminal.js', type='text/javascript')


    body
        block content

        h1 Simple layout for Ultragrid control

        table
            tr
                td
                    button#ug_Play Play
                td
                    button#ug_Stop Stop
            tr
                td
                    button#ug_Record Start Record
                td
                    button#ug_StopRecord Stop record


        div#terminal


    script.

        ContentGenerator.generateTerminal('#terminal');

        ContentGenerator.generateStyle(
                function(out) {
                    $("<style>").text(out).appendTo('head');
                });
        ContentGenerator.generateButtonActions(
                function(data) {
                    console.log("[STDOUT]", data.stdout);
                    if (data.stderr) {

                        console.error("[STDERR]", data.stderr);
                    }
                });

        if (!window.terminal) {
            try {
                window.terminal = new Terminal();
            }
            catch (e) {
                window.terminal = {
                    out: function() {},
                    err: function() {}
                };
            }
        }


        window.wsClient = new WebSocketClient();

        window.wsClient.on('stdout', function(msg) {
            var data = msg.data;
            var pid = msg.pid;
            var out = "[OUT] (" + pid + "): " + data;
            window.terminal.out(out);
        });

        window.wsClient.on('stderr', function(msg) {
            var data = msg.data;
            var pid = msg.pid;
            var out = "[ERR] (" + pid + "): " + data;
            window.terminal.out(out);

        });

        window.wsClient.on('proc_close', function(msg) {
            var data = msg.data;
            var pid = msg.pid;
            var name = msg.name;
            var btnID = msg.buttonId;
            var button = $("#"+ btnID);
            var out = "[CLOSE] (" + pid + ")[" + name + "]: Program exited!";
            window.terminal.out(out);
            ContentGenerator.setStyleNormal(ContentGenerator.buttons[btnID],button)
        });

        window.wsClient.on('proc_start', function(msg) {
            var data = msg.data;
            var pid = msg.pid;
            var name = msg.name;
            var out = "[START] (" + pid + ")[" + name + "]: Program started.";
            var btnID = msg.buttonId;
            var button = $("#" + btnID);
            window.terminal.out(out);

            ContentGenerator.setStyleClicked(ContentGenerator.buttons[btnID],button)
        });

        window.wsClient.on('echo', function(msg) {
            var data = msg.data;
            var pid = msg.pid;
            var out = "[OUT] (" + pid + "): " + data;
            window.terminal.out(out);
            window.wsClient.send(msg);
        });
















