extends layout

block content

    #main_cont
        ul
            li
                a(href="/admin/style") Create Style for Button
            li
                a(href="/admin/command") Create Button Command
            li
                a(href="/admin/button") Create button
block scripts
    script(src="/js/lib/admin.js", type="text/javascript")





