doctype html

- var style_dir = "elements/styles/"

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/js/main.js', type='text/javascript')
    script(src='https://code.jquery.com/jquery-2.2.4.min.js', type='text/javascript')
    script(src='/bower_components/ace-build/src-noconflict/ace.js', type='text/javascript')
  body
    block content
