//
   Created by wermington on 7/4/16.

extends  layout

link(rel="stylesheet", href='https://code.jquery.com/qunit/qunit-2.0.0.css')


block content
    h1 This is testing page!

    div#qunit
    div#qunit-fixture

    script(src="https://code.jquery.com/qunit/qunit-2.0.0.js")
    script(src="/js/test/test_style.js", type="text/javascript")


