//
   Created by wermington on 7/6/16.

doctype html

html
    head
        title Simple demo layout for SITOLA Ultragrid
        block head

        block styles
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/generate/style')

        block scripts

        script(src='/bower_components/jquery/dist/jquery.min.js', type='text/javascript')
        script(src='/js/lib/main.js', type='text/javascript')
        script(src='/js/lib/show.js', type='text/javascript')
        script(src='/generate/script', type='text/javascript')


    body
        block content

        h1 Simple layout for Ultragrid control

        ul
            li
                select#selStyles
            li
                button#demo_Play.demo_Play Play
            li
                button#demo_Stop.demo_Stop Stop
            li
                button#demo_Record.demo_Record Record
            li
                button#demo_Refresh Refresh

        script.
            var x = $("#selStyles");

            var resp = Manager.getCollection("styles");
            resp.handle(function (data)
            {
                ShowList.jsonCollection(x, data);
            });








