//
   Created by wermington on 7/8/16.

div.form-horizontal
    div.form-group
        label(for="actionGroup").control-label.col-sm-2 Action group:
        div.col-sm-10
            input#actionGroup(type="text", name="actionGroup").form-control

    div.form-group
        label(for="actionName").control-label.col-sm-2 Action name:
        div.col-sm-10
            input#actionName(type="text", name="actionName").form-control

    div.form-group
        label(for="textCommand").control-label.col-sm-2 Action command:
        div.col-sm-10
            pre#textCommand.ace-editor.form-control

    div.form-group
        label(for="textJavaScript").control-label.col-sm-2 Action javascript:
        div.col-sm-10
            pre#textJavaScript.ace-editor.form-control

    div.form-group
        button#saveButton.btn.btn-primary Save
