//
   Created by wermington on 7/8/16.


#main_cont
    table
        tr
            td
                label Category name:
            td
                input#categoryName(type="text", name="categoryName")

        tr
            td
                label Button name:
            td
                input#buttonName(type="text", name="buttonName")
        tr
            td
                label Button text:
            td
                input#buttonText(type="text", name="buttonText")

        tr
            td
                label Button style:
            td
                select(name="selectButtonStyle", id="selectButtonStyle")
        tr
            td
                label Button command:
            td
                select(name="selectButtonCommand", id="selectButtonCommand")

        tr
            td(colspan=2)
                input#saveButton(type="button", value="Save")
//
    script(src="/js/lib/forms/button.js", type="text/javascript")