//
   Created by wermington on 7/8/16.


div.form-horizontal
    div.form-group
        label(for="categoryName").control-label.col-sm-2 Category name:
        div.col-sm-10
            input#categoryName(type="text", name="categoryName").form-control

    div.form-group
        label(for="buttonName").control-label.col-sm-2 Button name:
        div.col-sm-10
            input#buttonName(type="text", name="buttonName").form-control

    div.form-group
        label(for="buttonText").control-label.col-sm-2 Button text:
        div.col-sm-10
            input#buttonText(type="text", name="buttonText").form-control

    div.form-group
        label(for="selectButtonStyle").control-label.col-sm-2 Button style:
        div.col-sm-10
            select#selectButtonStyle(name="selectButtonStyle").form-control

    div.form-group
        label(for="selectButtonStyleClicked").control-label.col-sm-2 Button style:
        div.col-sm-10
            select#selectButtonStyleClicked(name="selectButtonStyleClicked").form-control

    div.form-group
        label(for="selectButtonCommand").control-label.col-sm-2 Button command:
        div.col-sm-10
            select#selectButtonCommand(name="selectButtonCommand").form-control

    div.form-group
        button#saveButton.btn.btn-primary Save