//
   Created by wermington on 7/8/16.

ul.inline
    li
        a.bigItem(href="/admin/edit/style") Styles
    li
        a.bigItem(href="/admin/edit/action") Actions
    li
        a.bigItem(href="/admin/edit/button") Buttons
    li
        a.bigItem(href="/admin/edit/layout") Layouts

