//
   Created by wermington on 10/19/16.

div.row
    ul.inline.nav.nav-pills.col-md-8
        li(role="presentation")
            a(href="/admin/#{action}/style") Styles
        li(role="presentation")
            a(href="/admin/#{action}/action") Actions
        li(role="presentation")
            a(href="/admin/#{action}/button") Buttons
        li(role="presentation")
            a(href="/admin/#{action}/layout") Layouts