//
   Created by wermington on 7/8/16.

ul.inline.nav.nav-pills
    li(role="presentation")
        a.bigItem(href="/admin/edit/style") Styles
    li(role="presentation")
        a.bigItem(href="/admin/edit/action") Actions
    li(role="presentation")
        a.bigItem(href="/admin/edit/button") Buttons
    li(role="presentation")
        a.bigItem(href="/admin/edit/layout") Layouts

