//
   Created by wermington on 7/8/16.

div.row
    ul.inline.nav.nav-pills.col-md-8
        li(role="presentation")
            a(href="/admin/create/style") Styles
        li(role="presentation")
            a(href="/admin/create/action") Actions
        li(role="presentation")
            a(href="/admin/create/button") Buttons
        li(role="presentation")
            a(href="/admin/create/layout") Layouts